.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dadada;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-bottom: 55px;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.kouti {
    padding-left: 30px;
    text-align: center;
}